.DS_Store
massey
Massey-pari.code-workspace
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
massey.dSYM/
make.sh
settings.json

# Build directory
build/
*.o
*.dSYM/
__pycache__/
*.pyc

paper/
references/

examples/p3/verifier/verify_certificate
examples/p3/certificates/*/build-data/
paper-p3/
